<h1>Login</h1>
<div class="login-container">
  <label for="nameInput">Login</label>
  <input id="nameInput" type="text" class="my-class" [(ngModel)]="model.user">

  <label for="passwordInput">Password</label>
  <input id="passwordInput" type="password" class="my-class" [(ngModel)]="model.password">
  <div class="button-container">
    <button id="resetButton" (click)="reset()">Reset</button>
    <button id="loginButton" class="primary-button" (click)="login()" [disabled]="model.isLoginDisabled">Log in</button>
  </div>
  <div class="alert login-alert" *ngIf="!model.isValidPassword">
    Ungültiges Kennwort!
  </div>
</div>
